@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}
body{
    font-family: inherit;
    display: flex;
    height: 100vh;
    background-color: white;
    color: black;
    font-size: 14px;
    font-weight: lighter;

}
.main-body{
    width: 100%;
    height: 100%;
    display: flex;
}

.side-bar {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    width: 20%;
    justify-content: flex-start; /* Align items to the top */
    align-items: center;
    padding-top: 15px;
    padding-left: 10px;
    background-color: #fcfaf8;
    /* Center items horizontally */
    /* padding: 10px; Optional: Add some padding */
}

.profile-pic{
    display: flex;
    width: 50%;
    padding-left: 10px;
    margin-right: 125px;
    border-radius: 1rem;
    cursor: pointer;
}

.profile-pic:hover{
    background-color: #c1c1c12d;
    font-weight: bolder;
}

.profile-pic span{
    display: flex;
    align-items: center;
    font-weight: 450;
}

.profile-pic span .material-icons{
    margin-top: 5px;
}

.profile-pic img{
    border-radius: 100%;
    width: 25px;
    height: 25px;
    margin-right: 10px;
    margin-top: 6px;
    margin-bottom:6px;
}

.menu-item{
    display: flex;
    align-items: center;
    padding: 2px 0px 2px 10px;
    width: 100%;
    border-radius: 1rem;
    margin-top: 5px;
    cursor: pointer;

}

.menu-item:hover{
    background-color: #c1c1c12d;
    font-weight: bolder;
}

.material-icons{
    padding: 5px;
}

.add-task{
    color: red;
}

.active{
    color: red;
    background-color: rgba(211, 150, 160, 0.322);
}

.my-projects{
    width: 100%;
}

.list-section{
    width: 60%;
}

.today{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 90%;
    height: 90%;
    margin-left: 25px;
    margin-top: 40px;
}

.today-section{
    padding: 5px;
    margin-bottom: 10px;
}

/* .title-section input{
    width: 90%;
    margin-left: 5px;
    font-weight: bold;
    font-size: 15px;
    border: none;
    outline: none;

} */

::placeholder{
    padding-left: 5px;
    border: none;
    
}

.the-todos{
    display: flex;
    flex-direction: column;
}

.new-todo {
    display: none;
}
.new-todo input{
    width: 100%;
    border: none;
    outline: none;
}
.new-task{
    width: 90%;
    height: 10px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.addTaskBtn{
    width: 120px;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 1.5rem;
    border: none;
    background-color: white;

}

.addTaskBtn:hover{
    background-color: rgba(211, 150, 160, 0.521);
}

.saveTaskBtn {
    display: none;
}

.saveTaskBtn{
    width: 120px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border-radius: 1.5rem;
    border: none;
    background-color: rgba(211, 150, 160, 0.521);
}

.saveTaskBtn:hover{
    border: 1px solid black;
    font-weight: bold;
}

